// defaults, links, colors, type
a,
a:link,
a:active,
a:visited {
  color: $link-color;
}
a:hover,
a:focus {
  color: $link-hover;
}
a,
.cta {
  transition: all .2s ease;
}

// layout general
body {
  font-family: $sans;
  background-color: $super-light-gray;
  // top padding for fixed header
  //padding-top: 100px;
}
.container-fluid {
  max-width: 1200px;
}