// layout general
body {
  font-family: $sans;
  background-color: $super-light-gray;
  // top padding for fixed header
  padding-top: 100px;
}
.container-fluid {
  max-width: 1200px;
}
.logo {
  width: 75px;
  height: 110px;
}
// fixed header
.site-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $page-bg-color;
}
