// layout general
body {
  font-family: $sans;
  background-color: $extra-light-gray;
}
.container-fluid {
  max-width: $max-container-width;
}
.logo {
  width: 75px;
  height: 110px;
}
.site-header {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #fff;
}
