// various color names
$magenta: #FF00FF;
$lime: #00FF00;
$lime-green: #32CD32;
$forest-green: #228B22;
$medium-blue: #0000CD;
$navy: #000080;
$extra-light-gray: #EAEAEA;
$light-gray: #D3D3D3;
$silver: #C0C0C0;
$medium-gray: #666666;
$dark-gray: #2E2E2E;

// functional color names
$link-color: $medium-blue;
$link-hover: lighten($link-color, 15%);
$copy-color: $dark-gray;
$page-bg-color: $extra-light-gray;
$header-bg-color: $dark-gray;
$footer-bg-color: $dark-gray;
//$inverse-btn-hover: ...;
//$main-nav-color: $light-gray;
//$main-nav-hover: lighten($light-gray, 20%);
$accent: $lime-green;

// type
$sans-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$serif-default: Georgia, serif;

$sans-custom: "Open Sans";
//$serif-custom: "Droid Serif";

$sans: $sans-custom, $sans-default;
//$serif: $serif-custom, $serif-default;

$max-container-width: 1200px;