// various color names
$magenta: #ff00ff;
$lime: #00ff00;
$lime-green: #32cd32;
$forest-green: #228b22;
$medium-blue: #0000cd;
$navy: #000080;
$extra-light-gray: #eaeaea;
$light-gray: #d3d3d3;
$silver: #c0c0c0;
$medium-gray: #666666;
$dark-gray: #2e2e2e;
$extra-dark-gray: #1e1e1e;

// functional color names
$accent: $lime-green;
$link-color: $medium-blue;
$link-hover: lighten($link-color, 15%);
$copy-color: $dark-gray;
$page-bg-color: $extra-light-gray;
$header-bg-color: $dark-gray;
$footer-bg-color: $dark-gray;
//$inverse-btn-hover: ...;
$main-nav-color: $dark-gray;
//$main-nav-hover: lighten($main-nav-color, 20%);
//$main-nav-hover: $accent;
$cta-txt-color: #fff;
$cta-bg-color: $dark-gray;
$cta-inverse-txt-color: $dark-gray;
$cta-inverse-border-color: $dark-gray;

// type
$sans-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$serif-default: Georgia, serif;

$sans-custom: "Open Sans";
//$serif-custom: "Droid Serif";

$sans: $sans-custom, $sans-default;
//$serif: $serif-custom, $serif-default;

$max-container-width: 1200px;